<!-- Content Header (Page header) -->
<section class="content-header">
    <button type="submit" class="btn btn-default btn-flat" onclick="history.back()"><span class="glyphicon glyphicon-chevron-left"></span>回列表</button>
    <br />
    <br />
    <h1>
        最新消息
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 最新消息 </a></li>
        <li class="active">明細</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="row" style="width:100%;text-align:right">
                            <div class="col-md-12">
                                <div class="form-group block_inline">
                                    <button type="submit" class="btn btn-success btn-flat block_inline" ng-click="vm.save()">儲存</button>&nbsp;&nbsp;
                                    <button type="submit" class="btn btn-danger btn-flat block_inline" ng-if="vm.isEdit" ng-click="vm.remove()">刪除</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 column">
                            <form role="form" class="form-horizontal" name="signup_form" novalidate>
                                <table border="0" cellpadding="0" cellspacing="0" class="table table-bordered">
                                    <tr>
                                        <td class="view_title" style="width: 30px;">
                                            標題
                                        </td>
                                        <td class="view_content2">
                                            <input type="text" class="k-textbox" ng-model="vm.theNews.ArticleTitle" name="ArticleTitle" required />
                                            <div class="error"
                                                 ng-show="signup_form.ArticleTitle.$invalid && signup_form.submitted">
                                                <small class="error"
                                                       ng-show="signup_form.ArticleTitle.$error.required">
                                                    標題為必填欄位!!
                                                </small>
                                            </div>
                                        </td>
                                        <td class="view_title" style="width: 30px;">狀態設定</td>
                                        <td class="view_content2">
                                            <label>
                                                <input type="checkbox" ng-model="vm.theNews.IsShow" />是否顯示       
                                            </label>
                                            <label>
                                                <input type="checkbox" ng-model="vm.theNews.IsTop" />是否置頂
                                            </label>
                                                                             
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="view_title">起迄時間</td>
                                        <td class="view_content2" colspan="3">
                                            <input kendo-date-picker k-ng-model="k_StartTime" ng-model="vm.theNews.StartTime" k-format="'yyyy/MM/dd'" class="k-datepicker-calendar" id="Start_Date" onkeydown="return false;" ng-change="vm.compareStartEnd()" />
                                           ~
                                            <input kendo-date-picker k-ng-model="k_EndTime" ng-model="vm.theNews.EndTime" k-format="'yyyy/MM/dd'" class="k-datepicker-calendar" id="End_Date" onkeydown="return false;" ng-change="vm.compareStartEnd()" />
                                            <div class="error"
                                                 ng-show="signup_form.isStartBigggerThanEndError">
                                                <small class="error"
                                                       ng-show="true">
                                                    結束時間需大於起始時間
                                                </small>
                                            </div>
                                        </td>                              
                                    </tr>
                                    <tr>
                                        <td class="view_title">內容介紹</td>
                                        <td class="view_ckeditor" colspan="3">
                                            <textarea name="Value" class="ckeditor" style="width: 98%; height: 250px; margin: 0 auto;"></textarea>
                                        </td>
                                    </tr>
                                </table>
                            </form>

                        </div>
                    </div>

                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>

    </div>



</section><!-- /.content -->
<script>
    $(document).ready(function () {
        $("#editor").kendoEditor({ resizable: true });
    });
    username = "TEST001";
    folder = "TEST001,aaa,bbb";
    var editor = CKEDITOR.replace('Value', { filebrowserImageUploadUrl: '/mvc/files?userName=' + username + '&folder=' + folder });

</script>
<style>
    .demo-section {
        width: 400px;
    }

        .demo-section p {
            margin-top: 2em;
        }

        .demo-section label {
            display: inline-block;
            width: 180px;
            padding-right: 5px;
            text-align: right;
        }

    #example .k-datepicker {
        vertical-align: middle;
    }
</style>
