<!-- Content Header (Page header) -->
<section class="content-header">
    <button type="submit" class="btn btn-default btn-flat" onclick="history.back()"><span class="glyphicon glyphicon-chevron-left"></span>回行程規劃</button>
    <br />
    <br />
    <h1>
        編輯拜訪計劃
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="m.Home.index"><i class="fa fa-dashboard"></i> 首頁 </a></li>
        <li class="active">行程規劃/編輯拜訪計劃</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                </div><!-- /.box-header -->
                <div class="box-body">

                    <form role="form" class="form-horizontal" style="margin: 0 auto;">
                        <div class="row" style="width:100%;text-align:right">
                            <div class="form-group">
                                <label class="col-sm-8 control-label" for="actions">&nbsp;</label>
                                <div class="col-sm-4">
                                    <button type="submit" class="btn btn-success btn-flat block_inline" ng-click="vm.save()">儲存</button>&nbsp;&nbsp;
                                    <button type="submit" class="btn btn-danger btn-flat block_inline" ng-if="vm.isEdit" ng-click="vm.delete()">刪除</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="nickname">項目名稱</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="vm.eevent.TITLE" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="firstname">客戶名稱</label>
                                    <div class="col-sm-8">
                                        <autocomplete class="form-input form-tel" ng-model="vm.eevent.CUST_NAME" attr-placeholder="客戶名稱" click-activation="true" data="vm.autocomplete.allCustomersName" on-type="vm.doSomething1" on-select="vm.doSomethingElse1"></autocomplete>
                                        <!--<input type="text" class="form-control" ng-model="eevent.CUST_NAME" />-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="lastname">拜訪日期</label>
                                    <div class="col-sm-8">
                                        <input kendo-date-picker k-ng-model="vm.eevent.VISIT_DATE" k-format="'yyyy/MM/dd'" class="k-datepicker-calendar" />
                                        <!--<input class="k-timepicker" kendo-time-picker k-ng-model="vm.eevent.VISIT_DATE" />-->
                                        <!--<input id="timepicker" value="10:00 AM" />-->
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label class="col-sm-2 control-label" for="nickname">業務員</label>
                                    <div class="col-sm-8">
                                        <autocomplete class="form-input form-tel" ng-model="vm.eevent.EMP_NAME" attr-placeholder="業務名稱" click-activation="true" data="vm.autocomplete.allSalesName" on-type="vm.doSomething2" on-select="vm.doSomethingElse2"></autocomplete>
                                        <!--<input type="text" class="form-control" ng-model="eevent.EMP_NAME" />-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="firstname">地點</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="vm.eevent.LOCATION" />
                                    </div>
                                </div>
                               
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="lastname">開始時間</label>
                                    <div class="col-sm-8">
                                        <!--<input type="text" class="form-control" ng-model="order.lastname" />-->
                                        <!--<input kendo-date-picker k-ng-model="vm.eevent.START_TIME" k-format="'yyyy/MM/dd'" class="k-datepicker-calendar" />-->
                                        <input class="k-timepicker" kendo-time-picker k-ng-model="vm.eevent.START_TIME" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="lastname">結束時間</label>
                                    <div class="col-sm-8">
                                        <!--<input kendo-date-picker k-ng-model="vm.eevent.END_TIME" k-format="'yyyy/MM/dd'" class="k-datepicker-calendar" />-->
                                        <input class="k-timepicker" kendo-time-picker k-ng-model="vm.eevent.END_TIME" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <!--<label class="col-sm-2 control-label" for="lastname">優先順序</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" ng-model="eevent.STATUS" />
                                    </div>-->
                                </div>



                            </div>
                        </div>
                        <div class="row" style="margin-left:0px">
                            
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="lastname">規劃事項</label>
                                    <div class="col-lg-9">
                                        <textarea type="text" class="form-control" ng-model="vm.eevent.PLAN" style="height:100px;width:1000px"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for="lastname">拜訪記錄</label>
                                    <div class="col-lg-9">
                                        <textarea type="text" class="form-control" ng-model="vm.eevent.CONTENT" style="height:100px;width:1000px"/>
                                    </div>
                                </div>
                                <!--<div class="form-group">
                                    <label class="col-lg-2 control-label" for="lastname">附加檔案</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" ng-model="eevent.FILE" />
                                    </div>
                                </div>-->



                           
                        </div>
                    </form>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>

    </div>



</section><!-- /.content -->
<!--<script>
  (function() {
      $(".jdatepicker").datepicker();
      $.datepicker.setDefaults($.datepicker.regional["zh-TW"]);
  })();
</script>-->

<script>
    (function () {
        //if (!Modernizr.touch || !Modernizr.inputtypes.date) {
        //    $('input[type=date]')
        //        .attr('type', 'text')
        //        .datepicker({
        //            // Consistent format with the HTML5 picker
        //            dateFormat: 'yy/mm/dd'
        //        });
        //    $.datepicker.setDefaults($.datepicker.regional["zh-TW"]);
        //}
    })();
</script>
