<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        AllCSV上傳
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> AllCSV </a></li>
        <li class="active">上傳頁面</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <!--<div class="box-header">
                    <h3 class="box-title"></h3>
                </div>--><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8 column">
                            <br /><br /><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 column">
                            <div class="row">
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="GoToDepartCSV()">
                                        DepartCSV上傳
                                    </button>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="GoToExppriceCSV()">
                                        ExppriceCSV上傳
                                    </button>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="GoToSectionCSV()">
                                        SectionCSV上傳
                                    </button>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="GoToStockCSV()">
                                        StockCSV上傳
                                    </button>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="GoToCustomerCSV()">
                                        CustomerCSV上傳
                                    </button>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="GoToForsSaleCSV()">
                                        ForSaleCSV上傳
                                    </button>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="GoToPricLockCSV()">
                                        PricLockCSV上傳
                                    </button>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="GoToVouctrlCSV()">
                                        VouctrlCSV上傳
                                    </button>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="GoToSalemstCSV()">
                                        SalemstCSV上傳
                                    </button>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="GoToIoctrlCSV()">
                                        IoctrlCSV上傳
                                    </button>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="GoToProcessCSV()">
                                        ProcessCSV上傳
                                    </button>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="GoToOrdMasterHistCSV()">
                                        OrdMasterHistCSV上傳
                                    </button>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="GoToOrdDetailthistCSV()">
                                        OrdDetailthistCSV上傳
                                    </button>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="GoToPdacfgCSV()">
                                        PdacfgCSV上傳
                                    </button>
                                </div>
                                <div class="col-md-4">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>

    </div>



</section><!-- /.content -->
