
<div class="wrapper">
    <!-- Main Header -->
    <header class="main-header">
        <!-- Logo -->
        <a href="javascript:" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini" style="font-size: 14px; line-height: 20px; padding-top: 5px;"><b>Top<br />Sales</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>TopSales</b></span>
        </a>
        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="javascript:" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!--<li style="margin-right: 30px;">
                        <marquee direction="left" scrollamount="5" behavior="SCROLL" class="news_marquee" >
                            <span>最新消息</span>
                        </marquee>
                    </li>-->
                    <li>
                        <a href="javascript:" class="dropdown-toggle" ng-click="vm.createNewOrder()">
                            新建訂單
                        </a>
                    </li>
                    <li>
                        <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" ng-click="vm.goToOrderForm()">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="label label-danger">{{vm.cartNo}}</span>
                        </a>
                    </li>
                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" style="height: 50px;">
                            <!-- The user image in the navbar-->
                            <!--<img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image" />-->
                            <img src="/aApp/backend/appImg/contactpoeple.png" class="user-image" alt="User Image" />
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs" ng-bind="loginUser.username"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- The user image in the menu -->
                            <!--<li class="user-header">
                                <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
                                <p>
                                    Alexander Pierce - Web Developer
                                    <small>Member since Nov. 2012</small>
                                </p>
                            </li>-->
                            <!-- Menu Body -->
                            <!--<li class="user-body">
                                <div class="col-xs-4 text-center">
                                    <a href="#">Followers</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Sales</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Friends</a>
                                </div>
                            </li>-->
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <!--<div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                                </div>-->
                                <div class="pull-right">
                                    <a href="javascript:" class="btn btn-danger btn-flat" ng-click="vm.logout();">登出</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->
                    <!--<li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>-->
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <!--<div class="user-panel">
                <div class="pull-left image">
                    <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
                </div>
                <div class="pull-left info">
                    <p ng-bind="loginUser.username"></p>
                    <a href="#"><i class="fa fa-circle text-success"></i>管理員</a>
                </div>
            </div>-->
            <!-- search form (Optional) -->
            <!--<form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search..." />
                    <span class="input-group-btn">
                        <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form-->
            <!-- /.search form -->
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu">
                <li class="header">後台管理</li>
                <li ui-sref-active="active"></i><a ui-sref="m.Home.index"><i class='fa fa-link'></i> <span>首頁</span></a></li>
                <li class="treeview">
                    <a href="#"><i class='fa fa-link'></i> <span>產品與庫存管理</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li ui-sref-active="active"><a ui-sref="m.Products.category({type: 1})">產品查詢</a></li>
                        <li ui-sref-active="active"><a ui-sref="m.Products.category({type: 2})">資料管理</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#"><i class='fa fa-link'></i> <span>顧客關係</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li ui-sref-active="active"><a ui-sref="m.Customers.list">搜尋與瀏覽客戶</a></li>
                        <li ui-sref-active="active"><a ui-sref="m.Customers.create">建立客戶</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#"><i class='fa fa-link'></i> <span>行程規劃</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li ui-sref-active="active"><a ui-sref="m.EEvents.plan">行程管理</a></li>
                        <li ui-sref-active="active"><a ui-sref="m.EEvents.create">建立拜訪計劃</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#"><i class='fa fa-link'></i> <span>帳務管理</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li ui-sref-active="active"><a ui-sref="m.Orders.list">訂單紀錄</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#"><i class='fa fa-link'></i> <span>統計報表</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li ui-sref-active="active"><a ui-sref="m.Reports.orders">商品銷售排名</a></li>
                        <li ui-sref-active="active"><a ui-sref="m.Reports.sales">客戶訂購商品紀錄</a></li>
                        <li ui-sref-active="active"><a ui-sref="m.Reports.customerOrderHistory">客戶訂購歷史記錄</a></li>

                    </ul>
                </li>
                <li class="treeview">
                    <a href="#"><i class='fa fa-link'></i> <span>設定</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li ui-sref-active="active"><a ui-sref="m.Users.list">個人帳戶管理</a></li>
                        <!--<li ui-sref-active="active"><a ui-sref="changePassword">群組權限管理</a></li>
                        <li ui-sref-active="active"><a ui-sref="m.CRUD.list">帳號群組管理</a></li>-->
                    </ul>
                </li>
                <li ui-sref-active="active">
                    <a href="#"><i class='fa fa-link'></i> <span>最新消息</span><i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li ui-sref-active="active"><a ui-sref="m.News.dlist">瀏覽最新消息</a></li>
                        <li ui-sref-active="active" ng-if="isManager"><a ui-sref="m.News.list" >管理最新消息</a></li>
                    </ul>
                </li>
                <!--<li ui-sref-active="active"><i class='fa fa-link'></i><a ui-sref="m.Users.list"><i class='fa fa-link'></i> <span>帳號管理</span></a></li>
                <li ui-sref-active="active"><i class='fa fa-link'></i><a ui-sref="m.Groups.list"><i class='fa fa-link'></i> <span>權限管理</span></a>-->
                </li>
                <!--<li ui-sref-active="active"><i class='fa fa-link'></i><a ui-sref="m.CSV.list"><i class='fa fa-link'></i> <span>CSV上傳</span></a></li>-->
                <!--<li ui-sref-active="active"><i class='fa fa-link'></i><a ui-sref="m.DepartCSV.list"><i class='fa fa-link'></i> <span>DepartCSV上傳</span></a></li>
                <li ui-sref-active="active"><i class='fa fa-link'></i><a ui-sref="m.ExppriceCSV.list"><i class='fa fa-link'></i> <span>ExppriceCSV上傳</span></a></li>
                <li ui-sref-active="active"><i class='fa fa-link'></i><a ui-sref="m.SectionCSV.list"><i class='fa fa-link'></i> <span>SectionCSV上傳</span></a></li>
                <li ui-sref-active="active"><i class='fa fa-link'></i><a ui-sref=" m.StockCSV.list"><i class='fa fa-link'></i> <span>StockCSV上傳</span></a></li>-->
                <li ui-sref-active="active"><a ui-sref="m.AllCSV.list"><i class='fa fa-link'></i> <span>CSV上傳</span></a></li>


            </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div ui-view="content"></div>
    </div><!-- /.content-wrapper -->
    <!-- Main Footer -->
    <!--<footer class="main-footer">-->
    <!-- To the right -->
    <!--<div class="pull-right hidden-xs">
        Anything you want
    </div>-->
    <!-- Default to the left -->
    <!--<strong>Copyright &copy; 2015 <a href="#">Company</a>.</strong> All rights reserved.-->
    <!--</footer>-->
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
            <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Home tab content -->
            <div class="tab-pane active" id="control-sidebar-home-tab">
                <h3 class="control-sidebar-heading">Recent Activity</h3>
                <ul class='control-sidebar-menu'>
                    <li>
                        <a href='javascript::;'>
                            <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                <p>Will be 23 on April 24th</p>
                            </div>
                        </a>
                    </li>
                </ul><!-- /.control-sidebar-menu -->
                <h3 class="control-sidebar-heading">Tasks Progress</h3>
                <ul class='control-sidebar-menu'>
                    <li>
                        <a href='javascript::;'>
                            <h4 class="control-sidebar-subheading">
                                Custom Template Design
                                <span class="label label-danger pull-right">70%</span>
                            </h4>
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                            </div>
                        </a>
                    </li>
                </ul><!-- /.control-sidebar-menu -->
            </div><!-- /.tab-pane -->
            <!-- Stats tab content -->
            <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div><!-- /.tab-pane -->
            <!-- Settings tab content -->
            <div class="tab-pane" id="control-sidebar-settings-tab">
                <form method="post">
                    <h3 class="control-sidebar-heading">General Settings</h3>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Report panel usage
                            <input type="checkbox" class="pull-right" checked />
                        </label>
                        <p>
                            Some information about this general settings option
                        </p>
                    </div><!-- /.form-group -->
                </form>
            </div><!-- /.tab-pane -->
        </div>
    </aside><!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class='control-sidebar-bg'></div>
</div><!-- ./wrapper -->
<script>
    window.templateInit();
</script>
<script type="text/ng-template" id="selectCustomer.html">
    <h4>請選擇客戶</h4>
    <form role="form" class="form-horizontal" name="signup_form" novalidate>
        <table border="0" cellpadding="0" cellspacing="0" class="table table-bordered customer">
            <tr>
                <td class="view_title" style="width: 50px;">客戶名稱</td>
                <td class="view_content3">
                    <autocomplete name="CUST_NAME" class="k-textbox" ng-model="vm.autocompleteSelect" attr-placeholder="例: 優典行" click-activation="true" data="autocomplete.allCustomersName" on-type="autocomplete.searchCustomer" on-select="autocomplete.assignCustomer" required style="width: 80%"></autocomplete>
                    <img ng-show="autocomplete.isSearchCustomer" src="/aApp/backend/appImg/loading_redball.gif" width="20" height="20" />
                    <br />
                    <div class="error"
                         ng-show="signup_form.CUST_NAME.$invalid && signup_form.submitted">
                        <small class="error"
                               ng-show="signup_form.CUST_NAME.$error.required">
                            客戶名稱為必填欄位!!
                        </small>
                    </div>
                </td>
            </tr>
        </table>
        <div style="width: 50%; margin: 10px auto;">
            <button class="btn btn-primary" ng-click="vm.addToCustomerToCart()">確定</button>
        </div>
    </form>
</script>