<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        首頁
        <small></small>
    </h1>
    <!--<ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> icdtview </a></li>
        <li class="active">列表</li>
    </ol>-->
</section>
<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->
    <div class="row">
        <div class="col-sm-4">
            <div class="small-box bg-aqua-gradient">
                <div class="inner">
                    <h3>產品與庫存管理</h3>
                    <p>Product and Inventory Manage</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a ui-sref="m.Products.category({type: 1})" class="small-box-footer" >前往 <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="small-box bg-green-gradient">
                <div class="inner">
                    <h3>顧客關係</h3>
                    <p>Customer relationship</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="javascript:void(0)" class="small-box-footer" ng-click="vm.goToCustomers()">前往 <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="small-box bg-red-gradient">
                <div class="inner">
                    <h3>行程規劃</h3>
                    <p>Trip planning</p>
                </div>
                <div class="icon">
                    <i class="fa fa-calendar"></i>
                </div>
                <a href="javascript:void(0)" class="small-box-footer" ng-click="vm.goToEEvents()">前往 <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="small-box bg-yellow-gradient">
                <div class="inner">
                    <h3>帳務管理</h3>
                    <p>Accounts Manage</p>
                </div>
                <div class="icon">
                    <i class="fa fa-file"></i>
                </div>
                <a href="javascript:void(0)" class="small-box-footer" ng-click="vm.goToOrders()">前往 <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="small-box bg-light-blue-gradient">
                <div class="inner">
                    <h3>最新消息</h3>
                    <p>News</p>
                </div>
                <div class="icon">
                    <i class="fa fa-newspaper-o"></i>
                </div>
                <a href="javascript:void(0)" class="small-box-footer" ng-click="vm.goToNews()">前往 <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="small-box bg-teal-gradient">
                <div class="inner">
                    <h3>設定</h3>
                    <p>Settings</p>
                </div>
                <div class="icon">
                    <i class="fa fa-gear"></i>
                </div>
                <a href="javascript:void(0)" class="small-box-footer" ng-click="vm.goToSettings()">前往 <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div><!--end of row-->


</section><!-- /.content -->
